{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{# https://www.tutorialrepublic.com/snippets/preview.php?topic=bootstrap&file=crud-data-table-for-database-with-modal-form #}

{% block title %}Lijst van matten{% endblock %}

{% block body %}
    <h1>Lijst van matten</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Uniek ID</th>
                <th>Naam</th>
                <th>Afbeelding bestand naam</th>
                <th>Categorie</th>
                <th>Toegevoegd door</th>
                <th>Aantal vakken horizontaal</th>
                <th>Aantal vakken verticaal</th>
                <th>Opties</th>
                <th> <a href="{{ path('mat_new') }}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Nieuwe mat Toevoegen</span></a></th>
            </tr>
        </thead>
        <tbody>
        {% for mat in mats %}
            <tr>
                <td>{{ mat.id }}</td>
                <td>{{ mat.name }}</td>
                <td>{{ mat.image }}</td>
                <td>{{ mat.category }}</td>
                <td>{{ mat.user }}</td>
                <td>{{ mat.horizontalboxes }}</td>
                <td>{{ mat.verticalboxes }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('mat_show', {'id': mat.id}) }}">Weergeven</a>
                    <a class="btn btn-warning" href="{{ path('mat_edit', {'id': mat.id}) }}">Bewerken</a>
                </td>
                <td> </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Geen resultaten gevonden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('category_index') }}">Naar categorieën lijst</a>
    <a class="btn btn-secondary" href="{{ path('emulator') }}">Ga terug naar het spel</a>
{% endblock %}
