{% extends 'base.html.twig' %}

{% block title %}Lijst van matten{% endblock %}

{% block body %}
    <h1>Lijst van matten</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Uniek ID</th>
                <th>Naam</th>
                <th>Afbeelding bestand naam</th>
                <th>Categorie</th>
                <th>Toegevoegd door</th>
                <th>Aantal vakken horizontaal</th>
                <th>Aantal vakken verticaal</th>
                <th>Opties</th>
            </tr>
        </thead>
        <tbody>
        {% for mat in mats %}
            <tr>
                <td>{{ mat.id }}</td>
                <td>{{ mat.name }}</td>
                <td>{{ mat.image }}</td>
                <td>{{ mat.category }}</td>
                <td>{{ mat.user }}</td>
                <td>{{ mat.horizontalboxes }}</td>
                <td>{{ mat.verticalboxes }}</td>
                <td>
                    <a href="{{ path('mat_show', {'id': mat.id}) }}">Weergeven</a>
                    <a href="{{ path('mat_edit', {'id': mat.id}) }}">Bewerken</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Geen resultaten gevonden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mat_new') }}">Nieuwe mat toevoegen</a>
    <a href="{{ path('category_index') }}">Naar categorieën lijst</a>
    <a href="{{ path('emulator') }}">Ga terug naar het spel</a>
{% endblock %}
