{% extends 'base.html.twig' %}

{% block title %}Mat weergeven{% endblock %}

{% block body %}
    <h1>Mat weergeven</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ mat.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ mat.name }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ mat.category }}</td>
            </tr>
            <tr>
                <th>Toegevoegd door</th>
                <td>{{ mat.user }}</td>
            </tr>
            <tr>
                <th>Afbeelding bestand naam</th>
                <td>{{ mat.image }}</td>
            </tr>
            <tr>
                <th>Aantal vakken horizontaal</th>
                <td>{{ mat.horizontalboxes }}</td>
            </tr>
            <tr>
                <th>Afbeelding vakken verticaal</th>
                <td>{{ mat.verticalboxes }}</td>
            </tr>
        </tbody>
    </table>

    <a style="margin:5px" class="btn btn-warning" href="{{ path('mat_edit', {'id': mat.id}) }}">Bewerken</a>

    {{ include('mat/_delete_form.html.twig') }}

    <a style="margin:5px" class="btn btn-primary" href="{{ path('mat_index') }}">Terug naar matten lijst</a>
    <br>
    <p style="margin:5px">Voorbeeld mat, deze mat ziet er groter uit in het spel.</p>
    <img style="margin:5px" src="/uploads/images/{{ mat.image }}" alt="Error, mat kon niet geladen worden" width="20%" height="20%"> 
{% endblock %}
