{% extends 'base.html.twig' %}

{% block title %}Mat weergeven{% endblock %}

{% block body %}
    <h1>Mat weergeven</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ mat.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ mat.name }}</td>
            </tr>
            <tr>
                <th>Afbeelding bestand naam</th>
                <td>{{ mat.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mat_index') }}">Terug naar matten lijst</a>

    <a href="{{ path('mat_edit', {'id': mat.id}) }}">Bewerken</a>

    {{ include('mat/_delete_form.html.twig') }}
{% endblock %}
