{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}Account aanmaken{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 style="margin:5px">Account aanmaken</h1>
    <div style="margin:5px">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'E-Mail'
        }) }}
        <br>
        {{ form_row(registrationForm.firstname, {
            label: 'Voornaam'
        }) }} 
        <br>
        {{ form_row(registrationForm.lastname, {
            label: 'Achternaam'
        }) }} 
        <br>
        {{ form_row(registrationForm.plainPassword, {
            label: 'Wachtwoord'
        }) }}
        <br>
        <b style="font-size:small">Bij het aanmaken van een account ga je ermee akkoord dat je E-Mail en naam op de server wordt opgeslagen.</b>
        <br>
        <button style="margin:5px" class="btn btn-primary"type="submit" class="btn">Registreer</button>
        <a style="margin:5px" class="btn btn-secondary" href="{{ path('emulator') }}">Ga terug naar het spel</a>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
