{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}
{% block title %}Lijst van Categoriën{% endblock %}

{% block body %}
    <h1>Lijst van Categoriën</h1>
    <b style="margin:5px"> Welkom {{ app.user.firstname }} {{ app.user.lastname }}, hier kan je de categorieën in het spel aanpassen.</b>
    <br>
    <a style="margin:5px" class="btn btn-primary" href="{{ path('mat_index') }}">Naar matten lijst</a>
    <a style="margin:5px" class="btn btn-primary" href="{{ path('user_index') }}">Naar gebruikers lijst</a>
    <a style="margin:5px" class="btn btn-secondary" href="{{ path('emulator') }}">Ga terug naar het spel</a>
    <a style="margin:5px" class="btn btn-danger" href="{{ path('app_logout') }}">Uitloggen</a> 
    <table class="table">
        <thead>
            <tr>
                <th>Uniek ID</th>
                <th>Naam Categorie</th>
                <th>Opties</th>
                <th> <a href="{{ path('category_new') }}" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Nieuwe Categorie</span></a></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('category_show', {'id': category.id}) }}">Weergeven</a>
                    <a class="btn btn-warning" href="{{ path('category_edit', {'id': category.id}) }}">Bewerken</a>
                </td>
                <td> </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Geen resultaten gevonden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
