{% extends 'base.html.twig' %}

{% block title %}Lijst van Categorieën{% endblock %}

{% block body %}
    <h1>Lijst van Categorieën</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Uniek ID</th>
                <th>Naam Categorië</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    <a href="{{ path('category_show', {'id': category.id}) }}">Weergeven</a>
                    <a href="{{ path('category_edit', {'id': category.id}) }}">Bewerken</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Geen resultaten gevonden.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('category_new') }}">Nieuwe categorië toevoegen</a>
    <a href="{{ path('mat_index') }}">Naar matten lijst</a>
{% endblock %}
