{% extends 'base.html.twig' %}

{% block title %}Categorie weergeven{% endblock %}

{% block body %}
    <h1>Categorie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Naam</th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>

    <a style="margin:5px" class="btn btn-warning" href="{{ path('category_edit', {'id': category.id}) }}">Bewerken</a>

    {{ include('category/_delete_form.html.twig') }}

    <a style="margin:5px" class="btn btn-primary" href="{{ path('category_index') }}">Terug naar categorieënlijst</a>
{% endblock %}
