{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/emulator.css">
{% endblock %}
{% block title %}Bee-Bot Online{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="sidenav">

{# Buttons vervangen door https://fontawesome.com/ #}

<table id="buttons" style="margin-left:auto;margin-right:auto;">
		<tbody>
      <tr>
				<td style="vertical-align:top; text-align:left">
					<input id="home" type="image" class="button green" src="temp/reset.png" width="80">
				</td>
				<td style="vertical-align:top; text-align:center">
					<input id="fd" type="image" class="button orange" src="temp/beebot-fd.png">
				</td>
				<td style="vertical-align:top; text-align:right">
					<input id="stop_run" type="image" class="button red" src="temp/stop.png" disabled="disabled" width="80">
				</td>
			</tr>
			<tr>
				<td>
					<input id="lt" type="image" class="button orange" src="temp/beebot-lt.png">
				</td>
				<td>
					<input id="go" type="image" class="button ltgreen" src="temp/beebot-go.png">
				</td>
				<td>
					<input id="rt" type="image" class="button orange" src="temp/beebot-rt.png">
				</td>
			</tr>
			<tr>
				<td style="vertical-align: bottom;">
					<input id="stop" type="image" class="button blue" src="temp/beebot-stop.png">
				</td>
				<td>
					<input id="bk" type="image" class="button orange" src="temp/beebot-bk.png">
				</td>
				<td style="vertical-align: bottom;">
					<input id="pause" type="image" class="button blue" src="temp/beebot-pause.png">
				</td>
			</tr>
		</tbody>
  </table>
  
  <p id="commands"></p> 

<form class="dropdowns" action="">
  <label for="category">Kies een categorie:</label>
  <select class="categorydropdown" name="category" id="category">
    {% for category in categories  %}
         <option value="{{ category.id }}">{{ category }}</option>
    {% endfor %}

  </select>
<br>
<br>
<br>
  <label for="mat">Kies een mat:</label>
  <select class="mattendropdown" name="mat" id="mat">
    {% for mat in mats  %}
         <option value="{{ mat.name }}">{{ mat.name }}</option>
    {% endfor %}

  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>
<div class="options">
{% if app.user %}
    <a href="{{ path('category_index') }}">Naar categorieën lijst</a>
    <a href="{{ path('mat_index') }}">Naar matten lijst</a>
    <a href="{{ path('app_logout') }}">Uitloggen</a>
 {% else %}
    <a href="{{ path('app_login') }}">Inloggen</a>
    <a href="{{ path('app_register') }}">Registreer</a>
 {% endif %}
 </div>
</div>

<div class="example-wrapper">
    <h1>Welkom bij Bee-Bot Online!</h1>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script type="text/javascript" src="/js/main.js"></script>             
{% endblock %}

