{% extends 'base.html.twig' %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/emulator.css">
<link rel="icon" href="/images/logo.png" type="image/icon type">
{% endblock %}
{% block title %}Living Lab Bot{% endblock %}

{% block body %}
<div class="sidenav">

{# Buttons vervangen door https://fontawesome.com/ #}

<table id="buttons" style="margin-left:auto;margin-right:auto;">
		<tbody>
      		<tr>
				<td style="vertical-align:top; text-align:left">
					<input class"inputbutton" id="home" type="image"src="images/reset.png">
				</td>
				<td style="vertical-align:top; text-align:center">
					<input class"inputbutton" id="fd" type="image"src="images/beebot-fd.png">
				</td>
				<td style="vertical-align:top; text-align:right">
					<input class"inputbutton" id="stop_run" type="image"src="images/stop.png" disabled="disabled">
				</td>
			</tr>
			<tr>
				<td>
					<input class"inputbutton" id="lt" type="image"src="images/beebot-lt.png">
				</td>
				<td>
					<input class"inputbutton" id="go" type="image"src="images/beebot-go.png">
				</td>
				<td>
					<input class"inputbutton" id="rt" type="image"src="images/beebot-rt.png">
				</td>
			</tr>
			<tr>
				<td style="vertical-align: bottom; text-align:left">
					<input class"inputbutton" id="stop" type="image"src="images/beebot-stop.png">
				</td>
				<td style="vertical-align:bottom; text-align:center">
					<input class"inputbutton" id="bk" type="image"src="images/beebot-bk.png">
				</td>
				<td style="vertical-align: bottom; text-align:right">
					<input class"inputbutton" id="pause" type="image"src="images/beebot-pause.png">
				</td>
			</tr>
		</tbody>
  </table>
  
  <p id="commands"></p> 

<form class="dropdowns" action="">
  <label for="category">Kies een categorie:</label>
  <select class="categorydropdown" name="category" id="category">
  		<option disabled selected="selected"> Klik hier voor categorieën </option>
    {% for category in categories  %}
         <option value="{{ category.id }}">{{ category }}</option>
    {% endfor %}

  </select>
	<br>
	<br>
	<br>
  <label for="mat">Kies een mat:</label>
  <select class="mattendropdown" name="mat" id="mat">
  <option disabled selected="selected"> Kies eerst een categorie! </option>
  </select>
  <br><br>
  <input type="button" id="matbutton" value="Kies Mat" />
  <br>
  <br>
  <br>
    <input type="button" id="infobutton" value="Informatie" />
	{# <input type="button" id="resizer" value="Vergroot het speelveld" /> #}
</form>
</div>
<div class="creditmenu" id="infomenu">
	<div class="textbox">
	<p id="infotext" class="infotext">Welkom op de Living Lab-versie van de Beebot. Oftewel, je kan de Beebot ook online programmeren met matten naar keuze.
	<br>
	<br>
	De Beebot kan geprogrammeerd worden met de knoppen op zijn rug zoals dat ook met een gewone Beebot kan. Op het scherm, 
	kun je de bot oppakken met de linkermuisknop en slepen naar zijn startplaats op de mat. 
	Verder kan de Beebot gereset worden met de huisje-button en je kan de Beebot laten stoppen met de stopbutton. 
	De beheerder van de site kan matten en categorieën toevoegen waarbij de mat de maximale grootte heeft van 5 x 5 hokjes.
	<br>
	<br>
	Veel plezier en vergeet niet een mat te kiezen aan de linkerkant.
	<br>
	<br>
	Deze Beebot-applicatie is gemaakt door Timo Hogeveen in het kader van zijn examen voor de opleiding applicatie- en media-ontwikkelaar in april-mei 2021.
	<br>
	<br>
	De examenopdracht is verstrekt door docenten van het project make it move_, 
	een samenwerkingsproject tussen het Friesland College Heerenveen, opleiding Onderwijsassistent en Pedagogisch Werk en basisscholenkoepel Comprix. 
	Studenten van de opleiding programmeren met leerlingen van de basisschool.</p>
	</div>
<div class="makeitmove" >
	<img src="/images/MakeITMove.png">
	<br>
	<br>
	<br>
	<br>
</div>

</div>
<div class="options">
{% if is_granted('ROLE_ADMIN')%}
	<b>Welkom {{ app.user.firstname }}!</b>
    <a href="{{ path('mat_index') }}">Naar matten lijst</a>
    <a href="{{ path('category_index') }}">Naar categorieën lijst</a>
	<a href="{{ path('user_index') }}">Naar gebruiker lijst</a>
    <a href="{{ path('app_logout') }}">Uitloggen</a>
{% else %}
	{% if is_granted('ROLE_USER') %}
	 <b>Welkom {{ app.user.firstname }}!</b>
	 <a href="{{ path('app_logout') }}">Uitloggen</a>
	{% else %}
	<a href="{{ path('app_login') }}">Inloggen</a>
    <a href="{{ path('app_register') }}">Registreer</a>
	{% endif %}
{% endif %}
 </div>
<div class="right">
<div id="playground">
<canvas id="bot" draggable="true" style="display: block;"></canvas>
<img id="currentmat" draggable="false">
<img id="botimg" src="/images/beebot.png" style="position: absolute; left: -1000px; top: -1000px">
</div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script type="text/javascript" src="/js/main.js"></script>      
 <script type="text/javascript" src="/js/handlers.js"></script>          
 <script type="text/javascript" src="/js/beebot.js"></script>                 
{% endblock %}

