{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/css/emulator.css">
{% endblock %}
{% block javascripts %}
            
{% endblock %}

{% block title %}Bee-Bot Online{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="sidenav">
<form action="">
  <label for="category">Kies een categorie:</label>
  <select name="category" id="category">
    {% for category in categories  %}
         <option value="{{ category }}">{{ category }}</option>
    {% endfor %}

  </select>

  <label for="mat">Kies een mat:</label>
  <select name="mat" id="mat">
    {% for mat in mats  %}
         <option value="{{ mat.name }}">{{ mat.name }}</option>
    {% endfor %}

  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

{# https://craftcms.stackexchange.com/questions/21934/how-to-use-twig-to-pull-drop-down-menu-items-for-a-front-end-form #}

{% if app.user %}
    <a href="{{ path('category_index') }}">Naar categorieën lijst</a>
    <a href="{{ path('mat_index') }}">Naar matten lijst</a>
    <a href="{{ path('app_logout') }}">Uitloggen</a>
 {% else %}
    <a href="{{ path('app_login') }}">Inloggen</a>
    <a href="{{ path('app_register') }}">Registreer</a>
 {% endif %}
</div>

<div class="example-wrapper">
    <h1>Welkom bij Bee-Bot Online!</h1>
</div>
{% endblock %}
