{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block title %}Lijst van gebruikers{% endblock %}

{% block body %}
    <h1>Lijst van gebruikers</h1>
    <b style="margin:5px"> Welkom {{ app.user.firstname }} {{ app.user.lastname }}, hier kan je de accounts in het systeem aanpassen, pas op met wie je toegang geeft! Gebruikers met ROLE_ADMIN kunnen dingen aanpassen!</b>
    <br>
    <a style="margin:5px" class="btn btn-primary" href="{{ path('mat_index') }}">Naar matten lijst</a>
    <a style="margin:5px" class="btn btn-primary" href="{{ path('category_index') }}">Naar categorieën lijst</a>
    <a style="margin:5px" class="btn btn-secondary" href="{{ path('emulator') }}">Ga terug naar het spel</a>
    <a style="margin:5px" class="btn btn-danger" href="{{ path('app_logout') }}">Uitloggen</a> 
    <table class="table">
        <thead>
            <tr>
                <th>Uniek Id</th>
                <th>Email</th>
                <th>Rollen</th>
                <th>Voornaam</th>
                <th>Achternaam</th>
                <th>Opties</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('user_show', {'id': user.id}) }}">Weergeven</a>
                    <a class="btn btn-warning" href="{{ path('user_edit', {'id': user.id}) }}">Bewerken</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
